* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  height: 100vh;
  background-color: #ffffff;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  height: 70px;
  padding: 30px 25px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);

}

.nav--main a {
  text-decoration: none;
  color: #5e5e5e;
}

.nav--list {
  list-style: none;
  display: flex; 
}

.nav--item {
  padding: 20px;
}

.nav--item a {
  text-decoration: none;
  color: #777777;
}

